<ion-header>
  <ion-toolbar>
    <ion-buttons *ngIf="friendsProfile" slot="start">
      <!-- <ion-button (click)="backFriends()"> <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button> -->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons *ngIf="!friendsProfile" slot="end">
      <ion-button (click)="confirmLogout()"> <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
  <div class="card">
  <div class="header">
    <div class="avatar">
      <img src={{photoProfile}} onerror="this.onerror=null; this.src='../assets/profile.png'" alt="">
    </div>
  </div>

  <!-- <ion-avatar size='large'>
    <img src="../assets/ebrady.jpeg">
  </ion-avatar> -->
</div>


  <div class="card-body">
    <div class="user-meta ion-text-center">
      <h3 class="name">{{user['NAME']}} </h3>
      <ion-button *ngIf='showAddFriend' (click)="postFriendship()">
        <ion-icon name="person-add-outline"></ion-icon> {{friendButtonText}}
      </ion-button>
      <div>
        <ion-label *ngIf='showFriendship'>
          <ion-icon name="people-outline"></ion-icon>
          Friends since <ion-datetime value="{{friendStatus['START_DATE']}}"></ion-datetime>
        </ion-label>
      </div>
      <ion-button *ngIf='acceptRequest' (click)="accept()">
        {{acceptText}}
      </ion-button>
      <ion-label *ngIf = 'pendingRequest'> {{pendingText}} </ion-label>
      <div class="location">
        <ion-icon name="home-outline"></ion-icon>
        {{user['CITY']}} </div>
      <div class="company">
        <ion-icon name="business-outline"></ion-icon>
        {{user['COMPANY']}}
      </div>
      <div class="school">
        <ion-icon name="school-outline"></ion-icon>
        {{user['UNIVERSITY']}}
      </div>
      <div class="food">
        <ion-icon name="pizza-outline"></ion-icon>
        {{user['FOODPREF']}}
      </div>
      <div class="drink">
        <ion-icon name="beer-outline"></ion-icon>
        {{user['DRINKPREF']}}
      </div>
      <ion-button  href="{{link}}">
        <ion-icon name="logo-linkedin"></ion-icon>
            Profile
      </ion-button>
      <ion-card-content>
        {{user['BIOGRAPHY']}}
      </ion-card-content>
    </div>
  </div>
</ion-card>
<ion-button *ngIf="!friendsProfile" (click)="confirmLogout()" expand="block"> Logout
</ion-button>


</ion-content>
