<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="isLogin">Login to ClinkUp</ion-title>
    <ion-title *ngIf="!isLogin">Register for ClinkUp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!getInfo">
  <ion-card>
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Username  <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" #username></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password  <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="password" #password></ion-input>
      </ion-item>
    </ion-list>
    <div class="ion-padding" *ngIf="isLogin">
      <ion-button expand="block" (click)="login(username.value, password.value)" class="ion-no-margin">Login</ion-button>
      <ion-text color="danger">{{errorStringLogin}}</ion-text>
      <ion-button expand="block" size="small" (click)="newUser()" color="light">New User?</ion-button>
    </div>
    <div class="ion-padding" *ngIf="!isLogin">
      <ion-button expand="block" (click)="register(username.value, password.value)" class="ion-no-margin">Register</ion-button>
      <ion-text color="danger">{{errorStringRegister}}</ion-text>
      <ion-button expand="block" size="small" (click)="haveAccount()" color="light">Already have account?</ion-button>
    </div>
  </ion-card>
</ion-content>

<ion-content *ngIf="getInfo">
  <ion-card *ngIf="slide1">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Name  <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" #name></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Home city  <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" #homeCity></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Home state  <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" #homeState></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">linkedIN username  <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" #linkedIN></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">University  <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" #university></ion-input>
      </ion-item>
    </ion-list>
    <div class="ion-padding">
      <ion-button expand="block"  (click)="submitInfo1(name.value,homeCity.value,homeState.value,linkedIN.value, university.value)" class="ion-no-margin">Next</ion-button>
      <ion-text color="danger">{{errorStringSlide1}}</ion-text>
    </div>
  </ion-card>

  <ion-card *ngIf="slide2">
    <ion-item>
      <ion-label position="stacked">Company  <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" #company></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Bio  <ion-text color="danger">*</ion-text></ion-label>
      <ion-textarea required type="text" #bio></ion-textarea>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="stacked"> Select Photo  <ion-text color="danger">*</ion-text></ion-label>
      <input type="file" name="file" (change)="fileChanged($event)" />
    </ion-item> -->

    <div class="ion-padding">
      <ion-button expand="block" (click)="submitInfo2(company.value,bio.value)" class="ion-no-margin">Next</ion-button>
      <ion-text color="danger">{{errorStringSlide2}}</ion-text>
    </div>
  </ion-card>

  <ion-card *ngIf="slide3">
      <ion-item>
        <ion-label position="stacked">Dietary Restrictions  <ion-text color="danger">*</ion-text></ion-label>
        <ion-select #diet>
          <ion-select-option>vegan</ion-select-option>
          <ion-select-option>vegetarian</ion-select-option>
          <ion-select-option>pescetarian</ion-select-option>
          <ion-select-option>gluten free</ion-select-option>
          <ion-select-option>none</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Food Preference  <ion-text color="danger">*</ion-text></ion-label>
        <ion-select #food>
          <ion-select-option>american</ion-select-option>
          <ion-select-option>homestyle</ion-select-option>
          <ion-select-option>chinese</ion-select-option>
          <ion-select-option>thai</ion-select-option>
          <ion-select-option>mexican</ion-select-option>
          <ion-select-option>italian</ion-select-option>
          <ion-select-option>japanese</ion-select-option>
          <ion-select-option>mediteranean</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Drink Preference  <ion-text color="danger">*</ion-text></ion-label>
        <ion-select #drink>
          <ion-select-option>wine</ion-select-option>
          <ion-select-option>beer</ion-select-option>
          <ion-select-option>cocktail</ion-select-option>
          <ion-select-option>liquor</ion-select-option>
          <ion-select-option>none</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Privacy - Messaging  <ion-text color="danger">*</ion-text></ion-label>
        <ion-select #messaging>
          <ion-select-option value=1>Anyone can message me</ion-select-option>
          <ion-select-option value=0>Friends can message me</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Privacy - Searching  <ion-text color="danger">*</ion-text></ion-label>
        <ion-select #searching>
          <ion-select-option value=10>Appear in all searches</ion-select-option>
          <ion-select-option value=0>Appear in company searches</ion-select-option>
        </ion-select>
      </ion-item>

    <div class="ion-padding">
      <ion-button expand="block" (click)="submitInfo3( diet.value, food.value, drink.value, messaging.value, searching.value)" class="ion-no-margin">Submit</ion-button>
      <ion-text color="danger">{{errorStringSlide3}}</ion-text>
    </div>
  </ion-card>
</ion-content>
