.container {
    height: 100%;
}

.convo-page {
  height: 100%;
}

.messages {
  width: 100%;
  position: relative;
  padding-top: 44px;
  bottom: 44px;
}

.sent {
  background: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
  margin-left: auto;
  right: 10px;
}

.received {
  background: var(--ion-color-light-shade);
  color: var(--ion-color-light-contrast);
  left: 10px;
}

.message {
  position: relative;
  border-radius: 10px;
  max-width: 70%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  z-index: 1;
  display: table;
}

.bubble-sent {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: -5px 8px 0 0 var(--ion-color-primary);
  right: -15px;
  bottom: 10px;
  position: absolute;
  z-index: -1;
}

.bubble-received {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 5px 8px 0 0 var(--ion-color-light-shade);
  left: -15px;
  bottom: 10px;
  position: absolute;
  z-index: -1;
}

.message-box {
  bottom: 0;
  width: 100%;
  min-height: 14px;
  max-height: 100px;
  position: relative;
  background: white;
  z-index: 100;
  --padding-end: 34px;
}

.message-input {
  width: 100%;
  display: flex;
  right: 0;
  flex-wrap: wrap;
  position: relative;
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
  border-color: var(--ion-color-light-shade);
  font-size: 16px;
  padding-left: 8px;
  padding-right: 4px;
  --padding-top: 4px;
  --padding-bottom: 4px;
  bottom: 0;
}

.convo-page .messages {
  padding-top: 86px !important;
}

.send-button {
  position: absolute;
  bottom: 4px;
  right: 0px;
  height: 28px;
  width: 28px;
  --border-radius: 34px;
  --padding-start:  4px;
  --padding-end:    4px;
  --padding-top:    4px;
  --padding-bottom: 4px;
}

.footer {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .container {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      flex-wrap: wrap;
  }

  .all-messages {
      width: 30%;
      height: 100%;
      position: relative;
      padding-right: 10px;
      border-right-style: solid;
      border-right-color: var(--ion-color-medium);
      border-right-width: thin;
  }

  .convo-page {
    padding-top: 56px;
    width: 70%;
    height: 100%;
    position: relative;
  }
  .message-box {
    width: 70%;
    position: fixed;
  }
}
