<div class="container desktop">
  <div class="desktop all-messages">
    <app-messages [input]=conversations></app-messages>
  </div>
  <div class="convo-page">
    <ion-header class="mobile">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/home/messages"></ion-back-button>
        </ion-buttons>
        <ion-title (click)="viewProfile(username)">{{user.NAME}}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content #content>
      <div #messagesList class="messages">
        <div *ngFor="let m of messages"class="message" [class.sent]="m.SEND_NAME == userService.currentUserValue.USERNAME" [class.received]="m.SEND_NAME != userService.currentUserValue.USERNAME">
          {{m.TEXT}}
          <div [class.bubble-sent]="m.SEND_NAME == userService.currentUserValue.USERNAME" [class.bubble-received]="m.SEND_NAME != userService.currentUserValue.USERNAME">
          </div>
        </div>
      </div>
      <ion-toolbar #messageBox class="message-box" mode="ios" (click)="focusInput()">
        <!-- <input class="message" placeholder="Enter Input" type="text" type="text"/> -->
        <ion-textarea mode="ios" class="message-input" #text_1 rows="1" cols="500" autoGrow="true" placeholder="Message..." (ionChange)="adjust()"></ion-textarea>
        <ion-button (click)="sendMessage(text_1)" class="send-button"><ion-icon slot="icon-only" name="arrow-up"></ion-icon></ion-button>
        <!-- <ion-input class="message" placeholder="Enter Input" type="text" <input type="text" id="fname" name="fname">></ion-input> -->
        <!-- <ion-textarea class="message" placeholder="Message..."></ion-textarea> -->
      </ion-toolbar>
    </ion-content>
  </div>
</div>

<ion-header class="mobile">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/messages"></ion-back-button>
    </ion-buttons>
    <ion-title (click)="viewProfile(username)">{{user.NAME}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content classs="mobile">
  <div #messagesList class="messages">
    <div *ngFor="let m of messages"class="message" [class.sent]="m.SEND_NAME == userService.currentUserValue.USERNAME" [class.received]="m.SEND_NAME != userService.currentUserValue.USERNAME">
      {{m.TEXT}}
      <div [class.bubble-sent]="m.SEND_NAME == userService.currentUserValue.USERNAME" [class.bubble-received]="m.SEND_NAME != userService.currentUserValue.USERNAME">
      </div>
    </div>
  </div>
</ion-content>
<ion-footer class="mobile footer">
  <ion-toolbar #messageBox class="message-box" mode="ios" (click)="focusInput()">
    <!-- <input class="message" placeholder="Enter Input" type="text" type="text"/> -->
    <ion-textarea mode="ios" class="message-input" #text_2 rows="1" cols="500" autoGrow="true" placeholder="Message..." (ionChange)="adjust()"></ion-textarea>
    <ion-button (click)="sendMessage(text_2)" class="send-button"><ion-icon slot="icon-only" name="arrow-up"></ion-icon></ion-button>
    <!-- <ion-input class="message" placeholder="Enter Input" type="text" <input type="text" id="fname" name="fname">></ion-input> -->
    <!-- <ion-textarea class="message" placeholder="Message..."></ion-textarea> -->
</ion-toolbar>
</ion-footer>
