<ion-header>
  <ion-toolbar>
    <ion-title>Friends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment #segment value='friends' mode="md">
    <ion-segment-button value="friends">
      <ion-icon name="people"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="requests">
      <ion-icon name="person-add"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="search">
      <ion-icon name="search-sharp"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <ion-list [hidden]="segment.value != 'friends'">
    <ion-list-header mode="ios">Friends</ion-list-header>
    <ion-item *ngFor="let friend of friends" button="true" detail="false" (click)="viewProfile(friend.USERNAME)">
      <ion-avatar slot="start">
        <img src={{photoProfile(friend.USERNAME)}} onerror="this.onerror=null; this.src='../assets/profile.png'" alt="">
      </ion-avatar>
      <ion-label>
        <h3>{{friend.NAME}}</h3>
        <p>{{friend.COMPANY}} -- {{friend.CITY}}, {{friend.STATE}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list [hidden]="segment.value != 'requests'">
    <ion-list-header mode="ios">Friend Requests</ion-list-header>
    <ion-item *ngFor="let r of friendRequests" >
      <ion-avatar slot="start" (click)="viewProfile(r.USERNAME)">
        <img src={{photoProfile(r.USERNAME)}} onerror="this.onerror=null; this.src='../assets/profile.png'" alt="">
      </ion-avatar>
      <ion-icon slot="end" color="success" name="checkmark-sharp" (click)="respond(1, r.SEND_NAME, r.RECEIVE_NAME, r.NAME)"></ion-icon>
      <ion-icon slot="end" color="danger" name="close-sharp" (click)="respond(-1, r.SEND_NAME, r.RECEIVE_NAME, r.NAME)"></ion-icon>
      <ion-label>
        <h3>{{r.NAME}}</h3>
        <p>{{r.COMPANY}} -- {{r.CITY}}, {{r.STATE}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-refresher slot="fixed" (ionRefresh)="refreshRequests($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-sharp"
      pullingText="Pull to refresh"
      refreshingText="Getting friend Requests">
    </ion-refresher-content>
  </ion-refresher>

  <ion-searchbar #name mode="ios"s debounce="500" animtated="true" (ionInput)="search_users(name.value)" [hidden]="segment.value != 'search'"></ion-searchbar>
  <ion-list [hidden]="segment.value != 'search' || !name.value">
    <ion-item *ngFor="let user of searchResults$ | async" class="ion-text-wrap" button="true" detail="false" (click)="viewProfile(user.USERNAME)">
      <ion-avatar slot="start">
        <img src={{photoProfile(user.USERNAME)}} onerror="this.onerror=null; this.src='../assets/profile.png'" alt="">
      </ion-avatar>
      <ion-label>
        <h3>{{user.NAME}}</h3>
        <p>{{user.COMPANY}} -- {{user.CITY}}, {{user.STATE}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
