<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button *ngIf="!home" (click)="returnHome()" slot="start"> <ion-icon name="chevron-back-outline"></ion-icon> Back</ion-button>
    </ion-buttons>
    <ion-title *ngIf="home && !log && !view">Your Next Trip! </ion-title>
    <ion-title *ngIf="log && !home && !view">Log Travel</ion-title>
    <ion-title *ngIf="!log && !home && view && isUpcomingTrip">All Trips</ion-title>
    <ion-title *ngIf="!log && !home && view && !isUpcomingTrip">All Past or Current Trips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar *ngIf="!home" class="desktop">
  <ion-button (click)="returnHome()" class="footer-button"> <ion-icon name="chevron-back-outline"></ion-icon> Back
  </ion-button>
</ion-toolbar>
<ion-content *ngIf="home && !log && !view">
  <ion-refresher slot="fixed" (ionRefresh)="refreshRequests($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-sharp"
      pullingText="Pull to refresh"
      refreshingText="Reloading travel">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card *ngIf="isUpcomingTrip">
    <ion-card-header>
      <ion-card-subtitle> {{nextTrip['START_DATE'] | date:'MM/dd/yy'}} - {{nextTrip['END_DATE'] | date:'MM/dd/yy'}} </ion-card-subtitle>
      <ion-card-title> {{nextTrip['CITY']}}, {{nextTrip['STATE']}} </ion-card-title>
    </ion-card-header>
    <ion-card-content position="stacked"><ion-icon name="bed-outline"></ion-icon> {{nextTrip['HOTEL']}}</ion-card-content>
  </ion-card>
  <ion-text>
    <ion-header *ngIf = "!isUpcomingTrip"> No Upcoming Trips for {{user['NAME']}}! </ion-header>
  </ion-text>
  <ion-button *ngIf="showViewButton && isUpcomingTrip" expand="block" (click)="getTravel()" class="ion-no-margin">View All Trips</ion-button>
  <ion-button *ngIf="showViewButton && !isUpcomingTrip" expand="block" (click)="getTravel()" class="ion-no-margin">View Past or Current Trips</ion-button>
</ion-content>


<ion-content *ngIf="log && !home && !view">
  <ion-card>
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Start Date  <ion-text color="danger">*</ion-text></ion-label>
        <ion-datetime displayFormat="DDD MM/DD/YY" pickerFormat="MM/DD/YYYY" placeholder="Select Date" [(ngModel)]="startDate" min="2020-04-11" ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">End Date  <ion-text color="danger">*</ion-text></ion-label>
        <ion-datetime displayFormat="DDD MM/DD/YY" pickerFormat="MM/DD/YYYY" placeholder="Select Date" min="{{startDate}}" [(ngModel)]="endDate" ></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Destination City<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" #city></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Destination State <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" #state></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Hotel Name<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" #hotel></ion-input>
      </ion-item>
    </ion-list>
    <div class="ion-padding">
      <ion-button expand="block" (click)="submitTravel(startDate,endDate,city.value,state.value,hotel.value)" class="ion-no-margin">Submit</ion-button>
      <ion-text color="danger">{{errorStringTravel}}</ion-text>
    </div>
  </ion-card>
</ion-content>

<ion-content *ngIf ="!log && !home && view">
  <ion-refresher slot="fixed" (ionRefresh)="refreshRequests($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-sharp"
      pullingText="Pull to refresh"
      refreshingText="Reloading travel">
    </ion-refresher-content>
  </ion-refresher>
    <ion-list *ngIf="showTravel && !noTravel">
      <ion-list *ngFor="let t of travelRequest; let i = index" lines="full" class="ion-no-margin ion-no-padding">

        <ion-card>
          <ion-card-header>
            <ion-card-subtitle> {{t['START_DATE'] | date:'MM/dd/yy'}} - {{t['END_DATE'] | date:'MM/dd/yy'}} </ion-card-subtitle>
            <ion-card-title> {{t['CITY']}}, {{t['STATE']}} </ion-card-title>
          </ion-card-header>
          <ion-card-content position="stacked"><ion-icon name="bed-outline"></ion-icon> {{t['HOTEL']}}</ion-card-content>
        </ion-card>
      </ion-list>
    </ion-list>

    <ion-header *ngIf="noTravel" align="center"> No Trips Logged! </ion-header>
</ion-content>

<ion-fab class='fixed-button'>
  <ion-fab-button *ngIf="home && !log && !view" (click)="logTravel()"><ion-icon name="add-outline"></ion-icon></ion-fab-button>
</ion-fab>
