
.main-content {
  padding-left: 15px;
}

.fixed-button {
  position: fixed;
  bottom: 50px;
  right: 15px; 
}

.add-padding {
  padding-left: 20px;
  padding-right: 20px;
}

.input-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

ion-card-header {
  background-position: center;
  background-size: 100%;
  height: 180px;
  position: relative;
  padding: 0;
  transition: height 0.5s;
  // background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}

ion-card-title {
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0 16px 16px 16px;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
  transition: padding 0.5s, background-image 0.5s;
}

// ion-card:hover ion-card-title {
//   background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
//   padding: 100% 16px 16px 16px;
//   font-weight: 700;
// }

// ion-card:hover ion-card-header {
//   height: 204px;
// }

// ion-card:hover {
//   margin: 0;
// }

ion-card {
  cursor: pointer;
  transition: margin 0.5s;
}

ion-card-content {
  // height: 120px;
  transition: height 0.5s;
  position: relative;
  padding: 0;
  font-size: 14px;
  color: var(--ion-color-medium);
}

.title-container {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));
}

.content-container {
  position: absolute;
  top: 0;
  padding: 16px 16px 16px 16px;
  width: 100%;
}

.categories {
  font-size: 18px;
  color: var(--ion-color-dark);
}

.input-field {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-left: 4px;
  border-radius: 15px;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  height: 100px;
}

.input-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.location-marker {
  width: 5%;
  height: 100%;
}

.city-input {
  width: 80%;
  position: relative;
}

.state-input {
  width: 25%;
  position: relative;
}

.search-city {
  width: 85%;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 2;
  position: relative;
}

.category-input {
  width: 75%;
  position: relative;
}

.search_button {
  width: 25%;
  position: relative;
}

.large-font{
  font-size: large;
  margin-bottom: 15px;
}

.action-button {
  float: right;
  margin-top: 10px;
  padding-right: 10px;
}

.footer-button {
  float: right;
}
