<ion-header>
  <ion-toolbar>
    <ion-title>ClinkUps</ion-title>
    <ion-buttons *ngIf="!homePage" slot="start">
      <ion-button (click)="backHome()"> <ion-icon name="chevron-back-outline"></ion-icon> Back
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-toolbar *ngIf="!homePage" class="desktop">
  <ion-button (click)="backHome()" class="footer-button"> <ion-icon name="chevron-back-outline"></ion-icon> Back
  </ion-button>
</ion-toolbar>
<ion-text class='main-content' *ngIf='homePage'>
  <h2 >Welcome {{currentUser.NAME}}</h2>
</ion-text>

<ion-text class='main-content' color='medium' *ngIf='homePage && allClinkups'>
  <ion-label>upcoming ClinkUps</ion-label>
</ion-text>

<ion-content *ngIf='homePage && allClinkups.length!=0'>
  <ion-refresher slot="fixed" (ionRefresh)="refreshRequests($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-sharp"
      pullingText="Pull to refresh"
      refreshingText="Reloading clinkups">
    </ion-refresher-content>
  </ion-refresher>
    <ion-card *ngFor="let clinkup of allClinkups; let i = index"  >
      <ion-card-header  [style.backgroundImage]="'url('+clinkup['PHOTO_URL']+')'">
        <div class="title-container" >
          <a href={{yelpLink(clinkup.VENUEID)}} target="_blank"> <ion-card-title>{{clinkup['NAME']}}</ion-card-title></a>
        </div>
      </ion-card-header>
      <ion-card-content>
        <div class='large-font'>
          <ion-button fill="outline" size='small' color="primary" class="action-button" *ngIf='clinkup.STATUS==0 && clinkup.SEND_NAME!=currentUser.USERNAME' (click)='put_clinkup(clinkup, 1, i)'>Accept</ion-button>
          <ion-button fill="outline" size='small' color="danger" class="action-button" *ngIf='clinkup.STATUS==1 || (clinkup.STATUS==0 && clinkup.SEND_NAME==currentUser.USERNAME)' (click)='confirmCancel(clinkup, 2, i)'>Cancel</ion-button>
          <ion-icon name="location-sharp"></ion-icon> {{clinkup['ADDRESS']}}<br>
          <ion-icon name="person-sharp"></ion-icon> {{pickName(clinkup)}}<br>
          <ion-icon name="calendar-sharp"></ion-icon> {{clinkup.DAY | date:'MM/dd/yy h:mm a'}}<br>
          <ion-icon name="chatbubble-ellipses-sharp"></ion-icon> {{clinkupStatus(clinkup)}} <br>
        </div>
      </ion-card-content>
    </ion-card>
</ion-content>
<ion-content *ngIf='homePage && allClinkups.length==0'>
  <h6 color='light' class='add-padding'>you have no upcoming clinkups! click the add button to get started</h6>
</ion-content>
<ion-fab class='fixed-button' *ngIf='homePage'>
  <ion-fab-button (click)='openNewClinkup()'><ion-icon name="add-outline"></ion-icon></ion-fab-button>
</ion-fab>

<ion-content *ngIf='!homePage && chooseFriend'>
  <div *ngIf='!currentTrip.USERNAME && !nextTrip.USERNAME'>
    <ion-text class='main-content' >
      <h2 class='add-padding'>Log your travel before initiating a ClinkUp! </h2>
      <ion-button class='add-padding' fill='outline' (click)=goToTravel()>Add travel</ion-button>
    </ion-text>
  </div>
  <div *ngIf='currentTrip.USERNAME'>
    <ion-text  >
      <h2 class='add-padding'>Friends in {{currentTrip['CITY']}} </h2>
      <h6 color='light' class='add-padding' *ngIf='goodUsers[1].length!=0'>during your trip {{travelService.convertDate(currentTrip['START_DATE'])}} - {{travelService.convertDate(currentTrip['END_DATE'])}}</h6>
      <h6 color='secondary' class='add-padding' *ngIf='goodUsers[1].length==0'> sorry, no friends will be in {{currentTrip['CITY']}} during your trip {{travelService.convertDate(currentTrip['START_DATE'])}} - {{travelService.convertDate(currentTrip['END_DATE'])}} :(</h6>
    </ion-text>
    <ion-list *ngFor='let user of goodUsers[1]; let i = index'>
      <ion-item>
        <ion-icon size="large" name="person-outline"></ion-icon>
        <ion-label>{{user['USERNAME']}} </ion-label>
        <ion-button fill="outline" slot="end" (click)="openClinkupForm(user, currentTrip)">Invite</ion-button>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf='nextTrip.USERNAME'>
    <ion-text  >
      <h2 class='add-padding'>Friends in {{nextTrip['CITY']}} </h2>
      <h6 color='light' class='add-padding' *ngIf='goodUsers[0].length!=0'>during your trip {{travelService.convertDate(nextTrip['START_DATE'])}} - {{travelService.convertDate(nextTrip['END_DATE'])}}</h6>
      <h6 color='secondary' class='add-padding' *ngIf='goodUsers[0].length==0'> sorry, no friends will be in {{nextTrip['CITY']}} during your trip {{travelService.convertDate(nextTrip['START_DATE'])}} - {{travelService.convertDate(nextTrip['END_DATE'])}} :(</h6>
    </ion-text>
    <ion-list *ngFor='let user of goodUsers[0]; let i = index'>
      <ion-item>
        <ion-icon size="large" name="person-outline"></ion-icon>
        <ion-label>{{user['USERNAME']}} </ion-label>
        <ion-button fill="outline" slot="end" (click)="openClinkupForm(user, nextTrip)">Invite</ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-text class='main-content' *ngIf='!homePage && clinkupForm'>
  <h2>Clinkup with {{receive_user['NAME']}}</h2>
</ion-text>

<ion-content *ngIf='!homePage && clinkupForm'>

  <ion-card>
    <ion-item>
      <ion-icon size="large" slot="start" color="primary" name="calendar-outline"></ion-icon>
      <ion-label>{{tripWithOverlap['CITY']}} travel dates</ion-label>
    </ion-item>
    <ion-item>
      {{receive_user['NAME'].split(' ')[0]}}: {{travelService.convertDate(receive_user_travel['START_DATE'])}} - {{travelService.convertDate(receive_user_travel['END_DATE'])}}
    </ion-item>
    <ion-item>
      you: {{travelService.convertDate(tripWithOverlap['START_DATE'])}} - {{travelService.convertDate(tripWithOverlap['END_DATE'])}}
    </ion-item>
  </ion-card>

  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label position="stacked">Date  <ion-text color="danger">*</ion-text></ion-label>
      <ion-datetime cancellable="true" displayFormat="DDD MM/DD/YYYY hh:mma" pickerFormat="MMDDYYYY hhmma" placeholder="Select Date" [(ngModel)]="clinkupDate" min="{{maxDate(receive_user_travel.START_DATE, tripWithOverlap.START_DATE)}}" max="{{minDate(receive_user_travel.END_DATE, tripWithOverlap.END_DATE)}}" ></ion-datetime>
    </ion-item>

    <ion-item>

      <ion-label position="stacked">Venue  <ion-text color="danger">*</ion-text></ion-label>

      <div class="input-box">
        <ion-input #searchTerm placeholder="Search in {{tripWithOverlap.CITY}}" value="" class="category-input"></ion-input>
        <ion-button (click)="search_yelp(searchTerm.value,tripWithOverlap.CITY, tripWithOverlap.STATE)" class="search-button">Search</ion-button>
      </div>
      <ion-list>

        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let r of search_results; let i = index" size-xs="12" size-sm="12" size-md="6" size-lg="4" size-xl="3">
              <ion-card >
                <ion-card-header  [style.backgroundImage]="'url('+r['image_url']+')'">
                  <div class="title-container" >
                    <a href={{yelpLink(r.id)}} target="_blank"><ion-card-title>{{r['name']}}</ion-card-title></a>
                  </div>
                </ion-card-header>
                <ion-card-content>
                  <div>
                    <ion-icon [hidden]="r['rating'] < s" name="star" *ngFor="let s of [1,2,3,4,5]" color="warning"></ion-icon>
                    <ion-icon [hidden]="r['rating'] * 10 % 10 == 0" name="star-half" color="warning"></ion-icon>
                    <ion-icon [hidden]="r['rating'] >= s-0.5" name="star-outline" *ngFor="let s of [1,2,3,4,5]" color="warning"></ion-icon>

                     - {{r['price']}}
                    <br>
                    <ion-icon name="location-sharp"></ion-icon> {{r['location']['display_address'][0]}}
                    {{r['location']['display_address'][1]}}<br>
                    <div class="categories">{{r['categories'].join(', ')}}</div>
                    <ion-button (click)='selectedVenue(r["id"], i)' fill="outline" slot="end">select</ion-button>

                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-list>
    </ion-item>
  </ion-list>

  <ion-card *ngIf='itemSelected'>
    <ion-card-header  [style.backgroundImage]="'url('+venue['image_url']+')'">
      <div class="title-container" >
        <ion-card-title>{{venue['name']}}</ion-card-title>
      </div>
    </ion-card-header>
    <ion-card-content>
      <div>
        <ion-icon [hidden]="venue['rating'] < s" name="star" *ngFor="let s of [1,2,3,4,5]" color="warning"></ion-icon>
        <ion-icon [hidden]="venue['rating'] * 10 % 10 == 0" name="star-half" color="warning"></ion-icon>
        <ion-icon [hidden]="venue['rating'] >= s-0.5" name="star-outline" *ngFor="let s of [1,2,3,4,5]" color="warning"></ion-icon>
         - {{venue['price']}}
        <br>
        <ion-icon name="location-sharp"></ion-icon> {{venue['location']['display_address'][0]}}
        {{venue['location']['display_address'][1]}}<br>
        <div class="categories">{{venue['categories'].join(', ')}}</div>
      </div>
    </ion-card-content>
  </ion-card>


  <div class="ion-padding">
    <ion-button expand="block"  (click)="submitClinkup(clinkupDate)" class="ion-no-margin">Send request to {{receive_user['NAME'].split(' ')[0]}}</ion-button>
    <ion-text color="danger">{{errorString}}</ion-text>
  </div>
</ion-content>
