<ion-app>
  <ion-header class="desktop">
    <ion-toolbar color="primary">
      <ion-title>ClinkUp</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-split-pane when="md" contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" [style.width]="userService.currentUserValue ? '250px' : '0'">
      <ion-header>
        <ion-title>MENU</ion-title>
      </ion-header>
      <ion-content>
        <ion-list id="inbox-list">
          <!-- <ion-list-header>Inbox</ion-list-header> -->

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon" [md]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  <!-- <ion-router-outlet></ion-router-outlet> -->
</ion-app>
