<ion-tabs>

  <ion-tab-bar slot="bottom" class="mobile">
    <ion-tab-button tab="clinkups">
      <ion-icon name="list"></ion-icon>
      <ion-label>Clinkups</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="food-drink">
      <ion-icon name="beer"></ion-icon>
      <ion-label>Food/Drink</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="friends">
      <ion-icon name="people"></ion-icon>
      <ion-label>Friends</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon name="chatbubble-ellipses-sharp"></ion-icon>
      <ion-label>Messages</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="travel">
      <ion-icon name="airplane"></ion-icon>
      <ion-label>Travel</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
