.unread {
  font-weight: 700 !important;
}

.unread-dot {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: var(--ion-color-primary);
  position: absolute;
  left: 4px;
}

.end-box {
  display: flex;
  flex-wrap: wrap;
  right: 0;
  top: 10px;
  position: absolute;
  font-size: 12px;

}

.time {
}

.message-head {
  margin-right: 50px;
}

.add-button {
  float: right;
}
