<ion-header>
  <ion-toolbar>
    <ion-title>Messages</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="toggleSearchMode()">
        <ion-icon [hidden]="!search_mode" slot="icon-only" name="close-outline"></ion-icon>
        <ion-icon [hidden]="search_mode" slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button (click)="sayHi()"> Say Hi
  </ion-button> -->
  <ion-searchbar #search mode="ios" [hidden]="!search_mode"></ion-searchbar>
  <ion-list [hidden]="!search_mode">
    <ion-item
      [hidden]="search.value && f.NAME.slice(0,search.value.length).toLowerCase() != search.value.toLowerCase()"
      *ngFor="let f of friends"
      class="ion-text-wrap"
      button="true"
      detail="false"
      (click)="loadConvo(f.USERNAME)">
      <ion-avatar slot="start">
        <img src={{photoProfile(f.USERNAME)}} onerror="this.onerror=null; this.src='../assets/profile.png'" alt="">
      </ion-avatar>
      <ion-label>
        <h3>{{f.NAME}}</h3>
        <p>{{f.COMPANY}} -- {{f.CITY}}, {{f.STATE}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button (click)="toggleSearchMode()" class="desktop add-button">
    <ion-icon [hidden]="!search_mode" slot="icon-only" name="close-outline"></ion-icon>
    <ion-icon [hidden]="search_mode" slot="icon-only" name="add"></ion-icon>
  </ion-button>
  <ion-list [hidden]="search_mode">
    <ion-list-header mode="ios">Messages</ion-list-header>
    <ion-item *ngFor="let c of conversations" button="true" detail="false" (click)="loadConvo(c.USERNAME)">
      <div class="unread-dot" slot="start" [hidden]="c.SEND_NAME == userService.currentUserValue.USERNAME || c.READ != 0"></div>
      <ion-avatar slot="start">
        <img src={{photoProfile(c.USERNAME)}} onerror="this.onerror=null; this.src='../assets/profile.png'" alt="">
      </ion-avatar>
      <ion-label [class.unread]="c.SEND_NAME != userService.currentUserValue.USERNAME && c.READ == 0" class="message-head">
        <h3 [class.unread]="c.SEND_NAME != userService.currentUserValue.USERNAME && c.READ == 0">{{c.NAME}} ({{c.COMPANY}})</h3>
        <p>{{c.TEXT}}</p>
      </ion-label>
      <div class="end-box">
        <div class="time">{{c.M_TIME}}</div>
        <ion-icon name="chevron-forward"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
