<ion-header>
  <ion-toolbar>
    <ion-title>Food & Drink</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment #segment value='browse' mode="md">
    <ion-segment-button value="browse">
      <ion-icon name="restaurant"></ion-icon>
      <ion-label>Browse</ion-label>
    </ion-segment-button>
    <ion-segment-button value="search">
      <ion-icon name="search-sharp"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div class="input-field" [hidden]="segment.value != 'search'">
    <div class="input-box">
      <ion-input #category_input placeholder="Search food and drink options" value="" class="category-input"></ion-input>
      <ion-button (click)="search_yelp(category_input.value,city_input.value,state_input.value)" class="search-button">Search</ion-button>
    </div>
    <div class="input-box">
      <ion-icon class="location-marker" name="location-sharp"></ion-icon>
      <ion-input #city_input placeholder="City" value="" class="city-input" (ionInput)="city_change(state_input)"></ion-input>
      <ion-select #state_input placeholder="State" interface="popover" class="state-input">
        <ion-select-option [value]="s" *ngFor="let s of states">{{s}}</ion-select-option>
      </ion-select>
    </div>
    <ion-list class="search-city" [hidden]="!city_input.value || state_input.value">
      <ion-item *ngFor="let c of city_search(city_input.value)" button="true" detail="false" (click)="select_city(c,city_input,state_input)">
        {{c.state != 'D.C.' ? c.city+', '+c.state : c.city}}
      </ion-item>
    </ion-list>
  </div>
  <ion-list>
    <!-- <ion-list-header [hidden]="segment.value != 'browse'">Restaurants and Bars Near You <br> ({{userService.currentUserValue.CITY+', '+userService.currentUserValue.STATE}})</ion-list-header> -->
    <ion-grid>
      <ion-row>
        <ion-col [hidden]="segment.value != 'search'" *ngFor="let r of search_results" size-xs="12" size-sm="12" size-md="6" size-lg="4" size-xl="4">
          <ion-card [href]="'http://yelp.com/biz/'+r['id']" target="_blank">
            <ion-card-header [style.backgroundImage]="'url('+r['image_url']+')'">
              <div class="title-container">
                <ion-card-title>{{r['name']}}</ion-card-title>
              </div>
            </ion-card-header>
            <ion-card-content>
              <div class="content-container">
                <ion-icon [hidden]="r['rating'] < s" name="star" *ngFor="let s of [1,2,3,4,5]" color="warning"></ion-icon>
                <ion-icon [hidden]="r['rating'] * 10 % 10 == 0" name="star-half" color="warning"></ion-icon>
                <ion-icon [hidden]="r['rating'] >= s-0.5" name="star-outline" *ngFor="let s of [1,2,3,4,5]" color="warning"></ion-icon>
                <!-- ({{r['review_count']}}) -->
                 - {{r['price']}}
                <br>
                <ion-icon name="location-sharp"></ion-icon> {{r['location']['display_address'][0]}}
                {{r['location']['display_address'][1]}}<br>
                <div class="categories">{{r['categories'].join(', ')}}</div>
                <!-- <ion-icon name="call"></ion-icon>
                {{r['display_phone']}} -->
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col [hidden]="segment.value != 'browse'" *ngFor="let r of recommendations" size-xs="12" size-sm="12" size-md="6" size-lg="4" size-xl="4">
          <ion-card [href]="'http://yelp.com/biz/'+r['id']" target="_blank">
            <ion-card-header [style.backgroundImage]="'url('+r['image_url']+')'">
              <div class="title-container">
                <ion-card-title>{{r['name']}}</ion-card-title>
              </div>
            </ion-card-header>
            <ion-card-content>
              <div class="content-container">
                <ion-icon [hidden]="r['rating'] < s" name="star" *ngFor="let s of [1,2,3,4,5]" color="warning"></ion-icon>
                <ion-icon [hidden]="r['rating'] * 10 % 10 == 0" name="star-half" color="warning"></ion-icon>
                <ion-icon [hidden]="r['rating'] >= s-0.5" name="star-outline" *ngFor="let s of [1,2,3,4,5]" color="warning"></ion-icon>
                <!-- ({{r['review_count']}}) -->
                 - {{r['price']}}
                <br>
                <ion-icon name="location-sharp"></ion-icon> {{r['location']['display_address'][0]}}
                {{r['location']['display_address'][1]}}<br>
                <div class="categories">{{r['categories'].join(', ')}}</div>
                <!-- <ion-icon name="call"></ion-icon>
                {{r['display_phone']}} -->
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>


</ion-content>
